
/* 
! black-olive: #524e42ff;
! light-periwinkle: #bec7d8ff;
! true-blue: #3d68afff;
! light-periwinkle-2: #bec7d8ff;
! light-periwinkle-3: #bec7d8ff;  
*/

html {
  scroll-behavior: smooth;
}

.App {
  overflow: auto;
  width: 100vw;
  color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.App-bg {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  background-image: url('../Assets/heawaii_beach1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}
