@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Oswald:wght@500&display=swap');



/* * Footer */
.Footer {
    height: 5vh;
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* *Header */
.Header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh auto;
    color: black;
    flex-direction: column;
    text-shadow: 1px 1px 1px #524e42ff;
    padding-top: 20px;
    background: rgba(200, 202, 204, 0.8);
}

#_headerText {
    font-size: 4vw;

}

._titleFont {
    font-family: 'Lora', serif;
    box-sizing: border-box;
}

p {
}

._textFont {
    font-family: 'Lora', serif;
    box-sizing: content-box;
    font-size: 2vw;
}

.AboutComponent {
    background: rgba(50, 54, 57, 0.8);
    margin-bottom: 20vh;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
