@import url('https://fonts.googleapis.com/css2?family=Lora&family=Oswald:wght@500&display=swap');

.routes-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.routes-link {
    font-family: 'Lora', serif;
    background: rgba(50, 54, 57, 0.8);
    color: white;

    width: 100vw;
    text-decoration: none;
    padding: 0px;
    font-size: 1vw;
}

.routes-link:hover {
    text-decoration: underline;
    color: white;

}

.routes-link:focus {
    text-decoration: underline;
    border: 1px solid white;
}
