@import url('https://fonts.googleapis.com/css2?family=Lora&family=Oswald:wght@500&display=swap');
p {
    font-family: 'Lora', serif;
}


.bigShield {
    width: 10vw;
    border: 2px solid transparent;
    margin-bottom: 5vh;
    box-sizing: border-box;
    margin-right: 5vw;
}
.smallShield {
    width: 5vw;
    height: 7vw;
    border: 2px solid transparent;
    margin-bottom: 5vh;
    margin-right: 5vw;
    box-sizing: border-box;
}

.bigShield:hover {
    cursor: pointer;
    border: 2px solid white;
}
.ProjectComponent {
    display: flex;
    flex-direction: column;
    background: rgba(50, 54, 57, 0.8);
    margin-bottom: 20vh;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.badgeDiv {
    display: flex;
    flex-direction: column;
}

.badgeTitleDiv {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.badgeProjectShieldDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

p {
    font-size: 2vw;
    margin: 0;
    padding: 0;
}
.faIcon {
    font-size: 1vw;
    
}

.faIcon:hover {
    cursor: pointer;
}

.tipText {
    font-size: .75vw;
}
