.pdf {
    width: 80%;
    height: 100vh;
    
}

.centered {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#_openButton {
    width: max-content;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1vw;
}

#_closeButton {
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.Resume {
    background: rgba(50, 54, 57, 0.8);
    margin-bottom: 20vh;
}