body {
  @import url("https://fonts.googleapis.com/css?family=Merienda+One&display=swap")
  margin: 0;
  font-family: 'Merienda One';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
